.form-control:focus, .form-select:focus {
    box-shadow: none !important;
    border-color: #a2a8ad !important;
}

#btnSeePw:hover {
    cursor: pointer;
}

caption {
    caption-side: top;
}

td, td a {
    font-size: 13px !important;
}

td a {
    width: 60px !important;
}

.imageSelectorContainer img {
    width: 100px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .loginForm {
        margin: 0 10%;
    }
}

@media (min-width: 992px) {
    .loginForm {
        margin: 0 20%;
    }

    #contentsShower, #selectorContainer {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

@media (min-width: 1200px) {
    .loginForm {
        margin: 0 30%;
    }
}