.form-control:focus {
    box-shadow: none !important;
    border-color: #a2a8ad !important;
}

#btnSeePw:hover {
    cursor: pointer;
}

td, td button {
    font-size: 13px !important;
}

td button {
    width: 60px !important;
}

@media (min-width: 768px) {
    .loginForm {
        margin: 0 10%;
    }
}

@media (min-width: 992px) {
    .loginForm {
        margin: 0 20%;
    }
}

@media (min-width: 1200px) {
    .loginForm {
        margin: 0 30%;
    }
}