<section class="article grey first">
  <div class="container">
    <div style="padding: 150px 0 200px 0; text-align: center;">
      <i class="fa fa-frown-o fa-5x"></i>
      <p class="lead">Spiacenti, la pagina richiesta non è stata trovata</p>
      <p class="lead">
        <a href="{{ html.link2('home') }}" title="Pagina iniziale">
          Ritorna alla pagina iniziale
        </a>
      </p>
    </div>
  </div>
</section>
